// Place all the styles related to the manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.boxcover {
    // float:left;
    width:auto;
    height:auto;
    max-width: 100%;
    object-fit: contain;
    // background-size:cover;
}
